---
import MainLayout from '../layout/MainLayout.astro'
---

<MainLayout title="" description="">
  <h1>hola</h1>
  <a href="/new-guia/">nueva guia</a>
</MainLayout>

<script src="../scripts/Querys.ts">
 
  
</script>
