<dialog id="formDialog">
  <form method="dialog" class="form-grid">
    <label for="productoSelect">Prod:</label>
    <select name="producto" id="productoSelect" required>
      <option value="">-- Selecciona una Marca--</option>
    </select>

    <div class="button-panel">
      <button class="button" type="button" data-marca="CPP">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjXDelH1iRVs_FjU8afg4fEv385agmAGfHmA&s://www.cpp.com.pe/public/images/icons/Logo_CPP.svg"
          alt="cpp"
          style="background-color: red;"
        />
      </button>
      <button class="button" type="button" data-marca="AC">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvBYGT2wIYLHnebsV95wAuxU3us9iOqT4ylQ&s"
          alt="american colors"
        />
      </button>
      <button class="button" type="button" data-marca="VCD">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToYun84zQNvNj6KwIuBaKxPmsz8MJ01w75JA&s://www.vencedor.pe/_nuxt/img/5a735f9.svg"
          alt="vencedor"
        />
      </button>
      <button class="button" type="button" data-marca="TKN">
        <img
          src="https://www.tekno.com.pe/assets/img/logo_tekno.png"
          alt="tekno"
        />
      </button>
      <button class="button" type="button" data-marca="FST">
        <img
          src="https://cooper.pe/wp-content/uploads/2022/03/logo4.png"
          alt="fast"
          style="background-color: rgb(255, 255, 255);"
        />
      </button>
      <button class="button" type="button" data-marca="PAR">
        <img
          src="https://www.paracas.com.pe/img/logo.png"
          alt="paracas"
          style="background-color: rgb(255, 255, 255);"
        />
      </button>
    </div>

    <label for="envaseInput">Env:</label>
    <select
      name="producto"
      id="envaseSelect"
      style="grid-column: span 1;"
      required
    >
      <option value="">--Env--</option>
    </select>

    <label for="paquete">Paq:</label>
    <input type="number" name="paquete" id="paquete" required />

    <label for="datos" style="align-self: self-start;">Cant.:</label>
    <textarea
      id="datos"
      style="grid-column: 2/-1; height: 18vh"
      placeholder="Ej:\n14,rojo\n25,azul"
      required></textarea>

    <label id="resultado" style="grid-column: 2/-1;">Total Bultos</label>

    <div class="actions">
      <button type="submit" class="button green" id="calcularBtn"
        >Guardar</button
      >
      <button
        type="button"
        class="button red"
        onclick="document.getElementById('formDialog').close()">Cancelar</button
      >
    </div>
  </form>
</dialog>

<style>
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }

  dialog {
    border: none;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background: rgb(0, 0, 0);
    padding: 1rem;
    max-width: 500px;
  }
  form {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    gap: 1rem 0.75rem;
    align-items: center;
  }
  label {
    font-weight: bold;
    display: flex;
    grid-column: span 1;
  }

  select {
    grid-column: 2/-1;
  }

  input {
    grid-column: span 1;
    width: 100%;
  }

  input[name='cantidad'] {
    grid-column: 2/-1;
  }

  .actions {
    display: flex;
    grid-column: 1 / 5;
    gap: 1rem;

    & > * {
      flex: 1;
    }
  }

  .button-panel {
    grid-column: 2 / 5;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;

    & > button {
      flex: 1 0 30%;
      height: 3.5rem;
      padding: 0;

      & > img {
        height: 100%;
        object-fit: contain;
        filter: grayscale(1);
        opacity: .4;
      }

      &[active] {
        > img {
          filter: grayscale(0);
          outline: 1.2px solid #3bc836;
          opacity: 1;
        }
      }
    }
  }
</style>

<script >

import { FormManager } from "@/scripts/FormControl";

 

document.addEventListener('astro:page-load', () => {
  FormManager.init();
  
});


</script>
